.select-button {
    border-radius: 10%;
    padding: 5px;
    border: none;
}

.select-bar {
    margin-bottom: -100%;
    padding-bottom: 100%;
}

.logout-button{
    position: fixed;
    bottom: 0;
}